:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text-color: #434455;
  --main-white: #ffffff;
  --light-mode: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-white);
}
.logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.second-part-logo {
  color: var(--dark);
}
.second-part-logo-footer {
  color: var(--light-mode);
}
.list {
  list-style: none;
}

.items {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-item {
  color: var(--dark);
  font-weight: 500;
}
.contact-item {
  color: var(--text-color);
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  color: var(--pressed-state);
}
.link {
  text-decoration: none;
}
.contact {
  font-style: normal;
}

.contact-item:hover,
.contact-item:focus,
.contact-item:active {
  color: var(--pressed-state);
}
.hero-bg {
  background-color: var(--dark);
}
.hero-title {
  color: var(--main-white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-btn {
  background: var(--primary-brand);
  color: var(--main-white);
}
.filter-btn {
  color: var(--primary-brand);
  background: var(--light-mode);
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--main-white);
  background-color: var(--pressed-state);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--pressed-state);
}
.light-bg {
  background: var(--light-mode);
}
.team-card {
  background: var(--main-white);
}
.main-header {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.footer {
  background-color: var(--dark);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  color: var(--light-mode);
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}
