:root {
  --font-color: #434455;
  --background-color: #ffffff;
  --first-part-logo: #4d5ae5;
  --second-part-logo: #2e2f42;
  --second-part-white: #f4f4fd;
  --contact: #434455;
  --hero-background: #2e2f42;
  --hero-title: #ffffff;
  --hero-button: #4d5ae5;
  --footer-background: #2e2f42;
  --footer-text: #f4f4fd;
  --features-title: #2e2f42;
  --button-hover: #404bbf;
  --main-header: #2e2f42;
  --light-bg: #f4f4fd;
  --portfolio-title: #2e2f42;
  --portfolio-text: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
}
.logo {
  color: var(--first-part-logo);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.second-part-logo {
  color: var(--second-part-logo);
}
.second-part-white {
  color: var(--second-part-white);
}
.list {
  list-style: none;
}
.menu-item {
  color: var(--second-part-logo);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
.contact {
  font-style: normal;
}
.contact-item {
  color: var(--contact);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-item:hover,
.contact-item:focus,
.contact-item:active {
  color: #404bbf;
}
.hero-background {
  background-color: var(--hero-background);
}
.hero-title {
  color: var(--hero-title);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  background: var(--hero-button);
  color: var(--hero-title);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-btn {
  background: var(--light-bg);
  color: var(--hero-button);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: #ffffff;
  background-color: #404bbf;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--button-hover);
}
.features-title {
  color: var(--features-title);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.light-bg {
  background: var(--light-bg);
}
.team-card {
  background: #ffffff;
}
.team-title {
  color: var(--features-title);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.main-header {
  color: var(--main-header);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-title);
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-text);
}

.footer {
  background-color: var(--footer-background);
}
.footer-text {
  color: var(--footer-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
